.bodyContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 79vh;
}

.bodyContent {
   background-color: white;
   width: 330px;
   height: 130px;
}

.bodyImage {
   display: flex;
   justify-content: center;
   align-items: center;
}

.profileImage {
   width: 66px;
   height: 60px;
   border-radius: 10px;
}

.imageInput {
   font-weight: 400;
   border: none;
   outline: none;
   margin-top: 30px;
}

.inputBorder {
    border: 1.5px solid #5b5b5b;
    width: 200px;
}

svg {
   width: 30px;
   cursor: pointer;
}

#inputButton {
   background-color: #027e7e;
   border-color: #027e7e;
}

#fileInput {
   display: none;
}
